[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/odry/program
ExecStart=/home/pi/odry/program/pienv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/pi/odry/program/odryproject.sock odryproject.wsgi:application

[Install]
WantedBy=multi-user.target

