.header
  .container
    background: white url("/static/img/header1.jpg") right top no-repeat scroll
    background-size: contain

.header--2 .container
  background-image: url("/static/img/header2.jpg")
.header--3 .container
  background-image: url("/static/img/header3.jpg")
.header--4 .container
  background-image: url("/static/img/header4.jpg")
.header--5 .container
  background-image: url("/static/img/header5.jpg")
.header--6 .container
  background-image: url("/static/img/header6.jpg")
.header--7 .container
  background-image: url("/static/img/header7.jpg")
