.news__time
    display: block
    text-align: center
    color: $color-border
    margin-bottom: 30px

.news__picture
    @extend .photo
    margin-left: auto
    margin-right: auto
    margin-bottom: 30px

.news__perex
    margin-bottom: 30px

hr
    margin-bottom: 30px

.news__content
    margin-bottom: 30px
