.photo
    max-width: 300px
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.3)
    border: 7px solid white 
    border-radius: 13px

.content

    h2
        font-size: 2rem
        text-align: center
        margin-bottom: 30px

    h3
        font-size: 1.75rem
        time
            font-size: 0.75rem