.header
  padding: $space-header_inner $space-header_inner_horizontal
  +clearfix
  .header__logo
    float: left
    margin-right: $space-logo_right

  .header__heading
  .header__search
    float: right

.nav
  ul
    background: $color-main
    +not-list
    text-align: center
    font-size: 1.3rem
    font-weight: bold
    font-size: 0px
    li
      display: inline-block
      border-right: 1px solid white
      font-size: 1rem
      &:hover
        background-color: $color-secondary
        a
          color: white
      &:last-child
        border-right: none
      padding: 10px 15px
      a
        color: black
        text-decoration: none

.section
  .section__wrapper
    max-width: $width-content
    padding: $space-side
    margin-left: auto
    margin-right: auto

.footer
  padding: $space-header-inner
  background: $color-darkgrey
  color: white
  text-align: center