html {
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

img {
  display: block;
  max-width: 100%; }

td, th {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

h1, h2, h3, h4, h5, h6, p, ol, ul, hr, address {
  margin: 0;
  line-height: normal; }

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0; }

label, button {
  cursor: pointer; }

img.center {
  margin-left: auto;
  margin-right: auto; }

body {
  min-width: 750px;
  background: #F7F7F7; }

.container {
  min-width: 750px;
  background: white; }

.nav {
  background: #292B2C; }
  .nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    text-align: center; }
    .nav ul li {
      flex: 1; }
      .nav ul li:last-child a {
        border-right: none; }
    .nav ul i {
      display: block;
      font-size: 30px; }
    .nav ul a {
      display: block;
      background-color: #F0AD4E;
      min-height: 100%;
      border-right: 1px solid white;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px; }
      .nav ul a:hover, .nav ul a.active {
        text-decoration: none;
        background-color: #D9534F; }

.content .container {
  padding-top: 30px;
  padding-bottom: 60px; }

.content h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px; }
.content h3 {
  font-size: 1.75rem; }
  .content h3 time {
    font-size: 0.75rem; }

.markdown p, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown ul, .markdown ol, .markdown hr {
  margin-bottom: 30px; }

.photo, .photo--small, .box img, .news__picture, .event__picture {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
  border: 7px solid white;
  border-radius: 13px; }

.photo--small, .box img {
  max-width: 300px; }

.header .content {
  border-bottom: 1px solid white;
  background: white url("/static/img/header1.jpg") right top no-repeat scroll;
  background-size: contain;
  padding: 15px; }
.header .bg-2 {
  background-image: url("/static/img/header2.jpg"); }
.header .bg-3 {
  background-image: url("/static/img/header3.jpg"); }
.header .bg-4 {
  background-image: url("/static/img/header4.jpg"); }
.header .bg-5 {
  background-image: url("/static/img/header5.jpg"); }
.header .bg-6 {
  background-image: url("/static/img/header6.jpg"); }
.header .bg-7 {
  background-image: url("/static/img/header7.jpg"); }
.header h1 {
  font-size: 2.5rem;
  text-shadow: 0px 0px 3px white, 0px 0px 30px white, 0px 0px 45px white, 0px 0px 60px white; }
  .header h1 a {
    color: #292b2c; }
  @media (max-width: 991px) {
    .header h1 small {
      display: block; } }
.header .header__fb {
  position: absolute;
  top: 10px;
  right: 25px; }
  .header .header__fb img {
    width: 56px;
    height: 56px; }

.footer {
  background: #292B2C;
  padding-top: 50px;
  padding-bottom: 100px; }
  .footer .container {
    background: #292B2C;
    color: white;
    text-align: center; }
  .footer .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .footer .sponsors a {
      margin: 10px; }
    .footer .sponsors img {
      max-width: 360px;
      max-height: 125px;
      border: 15px solid white;
      background: white; }

.search {
  max-width: 300px;
  position: absolute;
  top: 15px;
  left: 235px; }
  .search form {
    display: flex; }

.box {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex; }
  .box .box__content {
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column; }
  .box time {
    display: block;
    margin-bottom: 15px; }
  .box .box__perex {
    flex-grow: 1; }
  .box:nth-child(2n) .box__content {
    order: 2;
    margin-right: 0;
    margin-left: 20px; }
    .box:nth-child(2n) .box__content .box__cta {
      text-align: right; }
  .box:nth-child(2n) .box__picture {
    order: 1; }
  .box .btn {
    margin-top: 15px; }

.calendar {
  width: 100%;
  margin-bottom: 30px; }
  .calendar th {
    background: #292B2C;
    color: white; }
  .calendar td, .calendar th {
    border: 1px solid gray;
    padding: 5px;
    text-align: center; }
  .calendar ul {
    list-style-type: none;
    padding-left: 0; }
    .calendar ul a {
      background: #F0AD4E;
      color: white;
      padding: 3px;
      display: block;
      text-align: left;
      margin-bottom: 3px; }
  .calendar .calendar__week {
    background: #5BC0DE;
    color: white; }
    .calendar .calendar__week em {
      display: block;
      font-size: 200%; }
  .calendar h4 {
    text-align: right; }

.calendar__pagination {
  margin-bottom: 30px;
  text-align: center; }

.news__time {
  display: block;
  text-align: center;
  color: #D9D9D9;
  margin-bottom: 30px; }

.news__picture {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.news__perex {
  margin-bottom: 30px; }

hr {
  margin-bottom: 30px; }

.news__content {
  margin-bottom: 30px; }

.event__time {
  display: block;
  text-align: center;
  color: #D9D9D9;
  margin-bottom: 30px; }

.event__picture {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

hr {
  margin-bottom: 30px; }

.event__content {
  margin-bottom: 30px; }

.form-login {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #D9D9D9;
  background: #F8F9FA;
  padding: 30px;
  border-radius: 30px; }
  .form-login input {
    width: 100%;
    margin-bottom: 15px; }
  .form-login .btn {
    width: 100%; }

/*# sourceMappingURL=index.css.map */
