html {
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

img {
  display: block;
  max-width: 100%; }

td, th {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

h1, h2, h3, h4, h5, h6, p, ol, ul, hr, address {
  margin: 0;
  line-height: normal; }

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0; }

label, button {
  cursor: pointer; }

img.center {
  margin-left: auto;
  margin-right: auto; }

body {
  background: #F7F7F7; }

.container {
  background: white; }

.nav {
  background: #292B2C; }
  .nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    text-align: center; }
    .nav ul li {
      flex: 1; }
      .nav ul li:last-child a {
        border-right: none; }
    .nav ul i {
      display: block;
      font-size: 30px; }
    .nav ul a {
      display: block;
      background-color: #F0AD4E;
      min-height: 100%;
      border-right: 1px solid white;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px; }
      .nav ul a:hover {
        text-decoration: none; }

.content .container {
  padding-top: 30px;
  padding-bottom: 60px; }

.photo, .box img {
  max-width: 300px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
  border: 7px solid white;
  border-radius: 13px; }

.content h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px; }
.content h3 {
  font-size: 1.75rem; }
  .content h3 time {
    font-size: 0.75rem; }

.header .content {
  background: white url("/static/img/header1.jpg") right top no-repeat scroll;
  background-size: contain;
  padding: 15px; }
.header .bg-2 {
  background-image: url("/static/img/header2.jpg"); }
.header .bg-3 {
  background-image: url("/static/img/header3.jpg"); }
.header .bg-4 {
  background-image: url("/static/img/header4.jpg"); }
.header .bg-5 {
  background-image: url("/static/img/header5.jpg"); }
.header .bg-6 {
  background-image: url("/static/img/header6.jpg"); }
.header .bg-7 {
  background-image: url("/static/img/header7.jpg"); }
.header h1 {
  font-size: 2.5rem;
  text-shadow: 0px 0px 3px white, 0px 0px 30px white, 0px 0px 45px white, 0px 0px 60px white; }
  .header h1 a {
    color: #292b2c; }

.footer {
  background: #292B2C;
  padding-top: 50px;
  padding-bottom: 100px; }
  .footer .container {
    background: #292B2C;
    color: white; }

.search {
  max-width: 300px;
  position: absolute;
  top: 15px;
  right: 283px; }
  .search form {
    display: flex; }

.box {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex; }
  .box .box__content {
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column; }
  .box time {
    display: block;
    margin-bottom: 15px; }
  .box .box__perex {
    flex-grow: 1; }
  .box:nth-child(2n) .box__content {
    order: 2;
    margin-right: 0;
    margin-left: 20px; }
    .box:nth-child(2n) .box__content .box__cta {
      text-align: right; }
  .box:nth-child(2n) .box__picture {
    order: 1; }

/*# sourceMappingURL=index.css.map */
