{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
        Správa obsahu | Střední škola Odry
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="{% static 'admin/index.css' %}">
</head>
<body>

    <header class="header">
        <h1>Správa obsahu <a href="{% url 'news' %}" target="_blank">SŠ Odry</a></h1>
        <a class="btn btn-primary" href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Odhlásit</a>
    </header>
    
    <div class="main">

        <aside class="overview">
            
            <h2><a href="{% url 'news' %}" target="_blank">Aktuality</a></h2>

            <ul>
                <li><a href="{% url 'news_new' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Přidat aktualitu</a></li>
            </ul>

            <table>
                {% for news in navigator_items.news %}
                    <tr>
                        <td>
                            <a href="{% url 'news_detail' pk=news.pk %}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                        </td>
                        <td>
                            {{ news.title }}
                        </td>
                        <td>
                            <a href="{% url 'news_edit' pk=news.pk %}" class="btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td>
                            <a href="{% url 'news_remove' pk=news.pk %}" class="btn-delete"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <hr>
            
            <h2><a href="{% url 'calendar_summary' %}" target="_blank">Události</a></h2>
            <ul>
                <li><a href="{% url 'event_new' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Přidat událost</a></li>
            </ul>
            
            <table>
                {% for event in navigator_items.event %}
                    <tr>
                        <td>
                            <a href="{% url 'event' pk=event.pk %}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                        </td>
                        <td>
                            {{ event.title }}
                        </td>
                        <td>
                            <a href="{% url 'event_edit' pk=event.pk %}" class="btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td>
                            <a href="{% url 'event_remove' pk=event.pk %}" class="btn-delete"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <hr>
            
            <h2><a href="{% url 'gallery' %}" target="_blank">Galerie</a></h2>
            <ul>
                <li><a href="{% url 'gallery_new' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Přidat galerii</a></li>
            </ul>
            
            <table>
                {% for gallery in navigator_items.gallery %}
                    <tr>
                        <td>
                            <a href="{% url 'gallery_detail' pk=gallery.pk %}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                        </td>
                        <td>
                            {{ gallery.title }}
                        </td>
                        <td>
                            <a href="{% url 'gallery_edit' pk=gallery.pk %}" class="btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td>
                            <a href="{% url 'gallery_remove' pk=gallery.pk %}" class="btn-delete"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            <hr>
            
            <h2>Statické stránky</h2>
            <ul style="display:none">
                <li><a href="{% url 'page_new' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Přidat stránku</a></li>
            </ul>

            <table>
                {% for page in navigator_items.page %}
                    <tr>
                        <td>
                            <a href="{% url 'page' pk=page.pk %}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                        </td>
                        <td>
                            {{ page.title }}
                        </td>
                        <td>
                            <a href="{% url 'page_edit' pk=page.pk %}" class="btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <hr>

            <h2><a href="{% url 'file_edit' %}">Nahrané soubory</a></h2>
            <ul>
                <li><a href="{% url 'file_edit' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nahrát nový soubor</a></li>
                <li><br><a href="{% url 'file_edit' %}" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Zobrazit nahrané soubory</a></li>
            </ul>
        
        </aside>


        <div class="content">
            {% block content %}{% endblock %}
        </div>

    </div>

    <footer class="footer">
        {% include "./admin_help.html" %}
    </footer>

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery.js"></script>
    
    <script src="{% static 'script/admin.js' %}"></script>
</body>
</html>