<h2>Přehled značkovacího jazyka</h2>

<table class="markdown-help">
    <tr>
        <td>
            Popis
        </td>
        <td>
            Příklad kódu
        </td>
        <td>
            Konečný vzhled
        </td>
    </tr>

    <tr>
        <td>
            <h3>Nadpisy</h3>
        </td>
        <td>
            <code>
                # Hlavní nadpis<br><br>
                ## Menší podnadpis<br><br>
                ### Nejmenší podnadpis
            </code>
        </td>
        <td>
            <h1>Hlavní nadpis</h1>
            <h2>Menší podnadpis</h2>
            <h3>Nejmenší podnadpis</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Seznamy</h3>
        </td>
        <td>
            <code>
                * toto je seznam<br>
                * další položka seznamu<br>
                * další položka<br><br>

                1. toto je číslovaný seznamn<br>
                2. další položka číslovaného seznamu<br>
                3. další položka
            </code>
        </td>
        <td>
            <ul>
                <li>toto je seznam</li>
                <li>další položka seznamu</li>
                <li>další položka</li>
            </ul>
            <ol>
                <li>toto je číslovaný seznam</li>
                <li>další položka číslovaného seznamu</li>
                <li>další položka</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Text</h3>
        </td>
        <td>
            <code>
                Odstavce se oddělují prázdným řádkem.<br>
                <br>
                Na délce řádků nezáleží.
            </code>
        </td>
        <td>
            <p>Odstavce se oddělují prázdným řádkem.</p>
            <p>Na délce řádků nezáleží.</p>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Oddělovač</h3>
            <p>Pomocí tří pomlček jde vytvořit vodorovná oddělovací čára.</p>
        </td>
        <td>
            <code>---</code>
        </td>
        <td>
            <hr>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Odkazy</h3>
            <p>Při vkládání odkazu je potřeba zadat text odkazu do hranatých závorek a adresu odkazu do kulatých hned za ty hranaté.</p>
            <p>Pokud se jedná o odkaz v rámci webu, tak je v administraci u každé stránky již předgenerovaný kód, který stačí zkopírovat a vložit.</p>
        </td>
        <td>
            <code>[text odkazu](http://www.seznam.cz/)</code>
        </td>
        <td>
            <a href="http://www.seznam.cz" target="_blank">text odkazu</a>
        </td>
    </tr>
    <!--<tr>
        <td>
            <h3>Obrázky</h3>
            Obrázek lze vložit podobně jako odkaz, ale s vykřičníkem na začátku.
        </td>
        <td>
            ![Náhradní text](http://commons.wikimedia.org/wiki/File:Markdown-mark.svg)
        </td>
        <td>
            <img src="http://commons.wikimedia.org/wiki/File:Markdown-mark.svg" title="Náhradní text">
        </td>
    </tr>-->
</table>