{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}{% endblock %} | Střední škola Odry
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="{% static 'style/index.min.css' %}">
</head>
<body>

    <header class="header">
            
        <input class="header__search" type="text" value="Vyhledat...">

        <img class="header__logo" src="{% static 'img/logo-min.png' %}">
        <h1 class="header__heading">Střední škola, Odry, <small>příspěvková organizace</small></h1>
        <address class="header__address">Sokolovská 647/1, 742 35 Odry</address>

    </header>
                    
    <nav class="nav">      
        <ul>
            <li><a href="{% url 'homepage' %}">Aktuálně</a></li>
            <li><a href="{% url 'calendar' %}">Akce školy</a></li>
            <li><a href="{% url 'page' pk=3 %}">Studium</a></li>
            <li><a href="{% url 'page' pk=25 %}">Domov mládeže</a></li>
            <li><a href="{% url 'page' pk=17 %}">Služby pro veřejnost</a></li>
            <li><a href="{% url 'gallery' %}">Foto a video</a></li>
            <li><a href="{% url 'page' pk=28 %}">Úřední deska</a></li>
            <li><a href="{% url 'page' pk=31 %}">Formuláře</a></li>
            <li><a href="{% url 'page' pk=30 %}">Kontakty</a></li>
        </ul>
    </nav>

    <section class="section">
        <div class="section__wrapper">
            {% block content %}{% endblock %}
        </div>
    </section>

    <footer class="footer">

        <!-- odkaz na fb
        nějaké dlaždice
        logo města odry (asi vlevo)
        loga Erasmus plus, Moravskoslezský kraj, Operační program Výzkum, vývoj a vzdělávání (EU)
        jedna fotka -->

        <p>&copy; Střední škola, Odry, příspěvková organizace 2017</p>
        <p>Sokolovská 647/1, 742 35 Odry</p>
    </footer>

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery.js"></script>
    
    <script src="{% static 'script/index.js' %}"></script>
</body>
</html>