{% extends 'schoolapp/base.html' %}


{% block title %}Kalendář{% endblock %}


{% block content %}
    <h2>Kalendář akcí: {{ month }} / {{ year }}</h2>

    <table class="calendar">
        <tr>
            <th>Týden č.</th>
            <th>Po</th>
            <th>Út</th>
            <th>St</th>
            <th>Čt</th>
            <th>Pá</th>
            <th>So</th>
            <th>Ne</th>
        </tr>

        {% for week in calendar_data %}
            <tr>
                <td class="calendar__week">
                    <em>{{ week.number }}.</em>
                    {% if week.number|divisibleby:2 %}
                        sudý
                    {% else %}
                        lichý
                    {% endif %}
                </td>
                {% for day in week.days %}
                    <td>
                        <h4>{{ day.number }}</h4>
                        <ul>
                            {% for event in day.events %}
                                <li><a href="{% url 'event' pk=event.pk %}">{{ event }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <p class="calendar__pagination">
        <a href="{% url 'calendar_month' year=nav.prevYear month=nav.prevMonth %}" class="btn btn-primary">
            <i class="fa fa-reply"></i>
            Předchozí měsíc ({{ nav.prevMonth }} / {{ nav.prevYear }})
        </a>
        <a href="{% url 'calendar_month' year=nav.nextYear month=nav.nextMonth %}" class="btn btn-primary">
            Následující měsíc ({{ nav.nextMonth }} / {{ nav.nextYear }})
            <i class="fa fa-share"></i>
        </a>
    </p>

    <hr>

    {# Earliest event #}
    
    <div class="event box">
        <div class="box__content">
            <h3>
                Nejbližší událost:
                <a href="{% url 'event' pk=earliest.pk %}">
                    {{ earliest.title }}
                </a>
                <time class="text-muted">
                    {{ earliest.since|date:'d.m.Y' }} - {{ earliest.to|date:'d.m.Y' }}
                </time>
            </h3>
            <p class="box__perex">
                {{ earliest.info }}
            </p>
            <div class="box__cta">
                <a href="{% url 'event' pk=earliest.pk %}" class="btn btn-outline-info" role="button">
                    Více o události <i class="fa fa-share"></i>
                </a>
            </div>
        </div>
        <div class="box__picture">
            <a href="{% url 'event' pk=earliest.pk %}"><img src="{{ earliest.picture.url }}" alt="{{ earliest.title }}"></a>
        </div> 
    </div>

{% endblock %}