{% extends 'schoolapp/base.html' %}


{% block title %}Kalendář{% endblock %}


{% block content %}
    <h2>Kalendář akcí: {{ month }} / {{ year }}</h2>

    <table class="calendar">
        <tr>
            <th>Týden č.</th>
            <th>Po</th>
            <th>Út</th>
            <th>St</th>
            <th>Čt</th>
            <th>Pá</th>
            <th>So</th>
            <th>Ne</th>
        </tr>

        {% for week in calendar_data %}
            <tr>
                <td>
                    <em>{{ week.number }}</em>
                    {% if week.number|divisibleby:2 %}
                        (sudý)
                    {% else %}
                        (lichý)
                    {% endif %}
                </td>
                {% for day in week.days %}
                    <td>
                        <h4>{{ day.number }}</h4>
                        <ul>
                            {% for event in day.events %}
                                <li><a href="{% url 'event' pk=event.pk %}">{{ event }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="{% url 'calendar_month' year=nav.prevYear month=nav.prevMonth %}">Předchozí měsíc ({{ nav.prevMonth }} / {{ nav.prevYear }})</a> |
        <a href="{% url 'calendar_month' year=nav.nextYear month=nav.nextMonth %}">Následující měsíc ({{ nav.nextMonth }} / {{ nav.nextYear }})</a>
    </p>


    {# Nejbližší akce #}
    
    <div class="event">
        <h3>
            Nejbližší akce:
            <a href="{% url 'event' pk=earliest.pk %}">{{ earliest.title }}</a>
            ({{ earliest.since|date:'d.m.Y' }} - {{ earliest.to|date:'d.m.Y' }})
        </h3>
        <p>
            {{ earliest.info }}
        </p>
        <a href="{% url 'event' pk=earliest.pk %}">Více o události</a>
    </div>
    

{% endblock %}