{% extends 'schoolapp/admin_base.html' %}

{% block content %}
    <h2>Nahrát nový soubor</h2>
    
    <form method="POST" enctype="multipart/form-data" class="form-file" action="./">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">Nahrát soubor na server</button>
    </form>

    <hr>

    <h2>Nahrané soubory</h2>
    {% if files|length > 0 %}
        <table>
            <tr>
                <th>Soubor</th>
                <th>Kód pro vložení do stránky</th>
                <th>Odstranit</th>
            </th>
            {% for file in files %}
                <tr>
                    <td><a href="{{ file.file.url }}" target="_blank">{{ file }}</a></td>
                    <td><code>[text odkazu]({{ file.file.url }})</code></td>
                    <td><a href="{% url 'file_remove' pk=file.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Na serveru nejsou aktuálně nahrány žádné soubory.</p>
    {% endif %}

{% endblock %}