{% extends 'schoolapp/base.html' %}


{% block title %}Foto a video{% endblock %}


{% block content %}
    <h2>Foto a video</h2>
    {% for gallery in gallery_list %}
        <div class="gallery box">
            <div class="box__content">
                <h3>
                    {# <a href="{% url 'gallery_detail' pk=gallery.pk %}"> #}
                    <a href="{{ gallery.path }}" target="blank">
                        {{ gallery.title }}
                    </a>
                    <time class="text-muted">
                        {{ gallery.date|date:'d.m.Y' }}
                    </time>
                </h3>
                <p class="box__perex">
                    {# <a href="{% url 'gallery_detail' pk=gallery.pk %}"> #}
                    
                </p>
                <div class="box__cta">
                    <a href="{{ gallery.path }}" class="btn btn-outline-info" role="button" target="blank">
                        Prohlédnout galerii <i class="fa fa-share"></i>
                    </a>
                </div>
            </div>
            <div class="box__picture">
                <img src="{{ gallery.picture.url }}" alt="{{ gallery.title }}">
            </div>
        </div>
    {% endfor %}


    <ul class="pagination justify-content-center">
        {% if gallery_list.has_previous %}
            {% if gallery_list.previous_page_number == 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'gallery' %}">předchozí</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'gallery_page' page=gallery_list.previous_page_number %}">předchozí</a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="{% url 'gallery' %}">předchozí</a></li>
        {% endif %}

        {% for page in gallery_list.paginator.page_range %}
            {% if page == 1 %}
                <li class="page-item{% if page == gallery_list.number %} active{% endif %}"><a class="page-link" href="{% url 'gallery' %}">{{ page }}</a></li>
            {% else %}
                <li class="page-item{% if page == gallery_list.number %} active{% endif %}"><a class="page-link" href="{% url 'gallery_page' page=page %}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if gallery_list.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'gallery_page' page=gallery_list.next_page_number %}">následující</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">následující</a></li>
        {% endif %}
    </ul>

{% endblock %}