{% extends 'schoolapp/base.html' %}


{% block title %}Aktuálně{% endblock %}


{% block content %}
    <h2>Aktuálně</h2>
    {% for news in news_list %}
        <div class="news">
            <h3>
                <a href="{% url 'news_detail' pk=news.pk %}">
                    {{ news.title }}
                </a>
                <time>
                    {{ news.date|date:'d.m.Y' }}
                </time>
            </h3>
            <img src="{{ news.picture }}" alt="{{ news.title }}">
            <p>
                {{ news.perex }}
            </p>
            <a href="{% url 'news_detail' pk=news.pk %}">Celá zpráva &raquo;</a>
        </div>
    {% endfor %}


    <div class="pagination">
        {% if news_list.has_previous %}
            {% if news_list.previous_page_number == 1 %}
                <a href="{% url 'homepage' %}">předchozí</a>
            {% else %}
                <a href="{% url 'homepage_page' page=news_list.previous_page_number %}">předchozí</a>
            {% endif %}
        {% endif %}

        <strong>Strana {{ news_list.number }} z {{ news_list.paginator.num_pages }}</strong>

        {% if news_list.has_next %}
            <a href="{% url 'homepage_page' page=news_list.next_page_number %}">následující</a>
        {% endif %}
    </div>

{% endblock %}