{% extends 'schoolapp/base.html' %}


{% block title %}Aktuálně{% endblock %}


{% block content %}
    <h2>Aktuálně</h2>
    {% for news in news_list %}
        <div class="news">
            <h3>
                <a href="{% url 'news_detail' pk=news.pk %}">
                    {{ news.title }}
                </a>
                <time>
                    {{ news.date|date:'d.m.Y' }}
                </time>
            </h3>
            <img src="{{ news.picture.url }}" alt="{{ news.title }}">
            <p>
                {{ news.perex }}
            </p>
            <a href="{% url 'news_detail' pk=news.pk %}">Celá zpráva &raquo;</a>
        </div>
    {% endfor %}


    <ul class="pagination justify-content-center">
        {% if news_list.has_previous %}
            {% if news_list.previous_page_number == 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'news' %}">předchozí</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'news_page' page=news_list.previous_page_number %}">předchozí</a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="{% url 'news' %}">předchozí</a></li>
        {% endif %}

        {% for page in news_list.paginator.page_range %}
            {% if page == 1 %}
                <li class="page-item{% if page == news_list.number %} active{% endif %}"><a class="page-link" href="{% url 'news' %}">{{ page }}</a></li>
            {% else %}
                <li class="page-item{% if page == news_list.number %} active{% endif %}"><a class="page-link" href="{% url 'news_page' page=page %}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if news_list.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'news_page' page=news_list.next_page_number %}">následující</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">následující</a></li>
        {% endif %}
    </ul>

{% endblock %}