{% extends 'schoolapp/base.html' %}


{% block title %}{{ news.title }} - aktualita{% endblock %}


{% block content %}
    <h2>{{ news.title }}</h2>
    <time class="news__time">{{ news.date|date:'d.m.Y' }}</time>

    <img class="news__picture" src="{{ news.picture.url }}" alt="{{ news.title }}">
    
    <p class="news__perex">
        {{ news.perex }}
    </p>

    <hr>

    <div class="news__content markdown">
        {{ content_html|safe }}
    </div>

    <a href="{% url 'news' %}" class="btn btn-primary">
        <i class="fa fa-reply"></i>
        Zpět na novinky
    </a>

{% endblock %}